/***************************blog*****************************/
#blog img {
    width: 54vw;
}
.blog_overskrift {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}
.blog_h1 {
    grid-area: 1 / 1 / 2 / 2;
    place-self: end;
    font-size: 72px;
}
.blog_a {
    font-size: 36px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 60px;
}
.blog_a:hover {
    color: #FF6F61;
}
#blog h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    grid-area: 2 / 2 / 3 / 3; 
}
#blog .logo {
    margin-left: 3vw;
}
.blog_section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 8vh;
}
.blog_section>p:first-child {
    grid-area: 1 / 1 / 2 / 2;
    writing-mode: vertical-rl;
    align-self: start;
    margin-right: 1vw;
    font-size: 24px;
    font-weight: 300;
}
.blog_section>p:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    writing-mode: vertical-rl;
    align-self: start;
    margin-right: 1vw;
    font-size: 24px;
    font-weight: 300;
}
.blog_section div:nth-child(3) {
    grid-area: 1 / 2 / 2 / 3;
    border-left: 1px solid;
    padding-top: 18vh;
    padding-left: 2vw;
    padding-bottom: 6vh;
}
.blog_section div:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
}
.girls_code {
    padding-top: 18vh;
    padding-left: 2vw;
    border-left: 1px solid;
    padding-top: 19vh;
}
.blog_section_p {
    color:#FF6F61;
    margin-bottom: 2vh;
    font-size: 22px;
    font-weight: 300;
}
.blog_category {
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .blog_section_p {
        font-size: 18px;

    }
    .blog_a {
        font-size: 18px;
        line-height: 20px;
    }
    .blog_section>p:first-child {
        font-size: 18px;
        font-weight: 300;
    }
    .blog_h1 {
        font-size: 56px;
    }
    .blog_section>p:nth-child(2) {
        font-size: 18px;
    }
    .blog_section_p {
        font-size: 18px;
    }
    #blog img {
        width: 100%;
    }
    .blog_section {
        margin-right: 5%;
    }
}

@media screen and (max-width: 320px) {
    .blog_section_p {
        font-size: 15px; 
    }
    .blog_a {
        font-size: 18px;
        line-height: 20px;
    }
    .blog_section>p:first-child {
        font-size: 18px;
        font-weight: 300;
    }
    .blog_section>p:nth-child(2) {
        font-size: 18px;
    }
    .blog_h1 {
        font-size: 42px;
    }
    .blog_section_p {
        font-size: 18px;
    }
    #blog img {
        width: 100%;
    }
    .blog_section {
        margin-right: 5%;
    }

}